.contact-list {
  min-width:100%;
  table {
    border-collapse: collapse;
    width: 100%;
    th, td {
      text-align: start;
      padding: 8px;
    }
  }
  .contact-preview {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid black;
      &:hover {
        color: #0056b3;
        border-bottom: 1px solid #0056b3;
    }
  }
}
